<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>WC 2018</title>

  <link rel="stylesheet" href="/node_modules/siimple/dist/siimple.min.css">
  <link rel="stylesheet" href="/static/css/style.css">

  <script src="/node_modules/jquery/dist/jquery.min.js"></script>
  <script src="/node_modules/moment/moment.js"></script>
  <script src="/static/js/main.js"></script>
</head>
<body>
<div class="siimple-navbar siimple-navbar--yellow siimple-navbar--fluid">
    <div class="siimple-layout--left">
        <a href="/" class="siimple-navbar-title">wcbot</a>
    </div>
    <div class="siimple-layout--right">
        <a href="#" class="siimple-navbar-link" target="_blank">github</a>
    </div>
</div>
<div class="siimple-grid">

    <div class="siimple-grid-row">
        <div class="siimple-grid-col siimple-grid-col--12">
            <span class="siimple-tag siimple-tag--navy">Navy tag</span>
            <span class="siimple-tag siimple-tag--green">{{ value }}</span>
            <span class="siimple-tag siimple-tag--teal">Teal tag</span>
            <span class="siimple-tag siimple-tag--blue">Blue tag</span>
        </div>
    </div>

  <div class="siimple-grid-row">
    <div class="siimple-grid-col siimple-grid-col--6">
            <div class="siimple-table">
                <div class="siimple-table-header">
                    <div class="siimple-table-row">
                        <div class="siimple-table-cell">Header 1</div>
                        <div class="siimple-table-cell">Header 2</div>
                        <div class="siimple-table-cell">Header 3</div>
                    </div>
                </div>
                <div class="siimple-table-body">
                    <div class="siimple-table-row">
                        <div class="siimple-table-cell">Cell 1</div>
                        <div class="siimple-table-cell">Cell 2</div>
                        <div class="siimple-table-cell">Cell 3</div>
                    </div>
                    <div class="siimple-table-row">
                        <div class="siimple-table-cell">Cell 1</div>
                        <div class="siimple-table-cell">Cell 2</div>
                        <div class="siimple-table-cell">Cell 3</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>
