<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>WC 2018</title>

  <link rel="stylesheet" href="/node_modules/siimple/dist/siimple.min.css">
  <link rel="stylesheet" href="/static/css/style.css">

  <script src="/node_modules/jquery/dist/jquery.min.js"></script>
  <script src="/node_modules/moment/moment.js"></script>
  <script src="/static/js/main.js"></script>
</head>
<body>
<div class="siimple-navbar siimple-navbar--yellow siimple-navbar--fluid">
  <div class="siimple-layout--left">
    <a href="/" class="siimple-navbar-title">wcbot</a>
  </div>
  <div class="siimple-layout--right">
    <a href="https://github.com/bmwant/wcbot" class="siimple-navbar-link" target="_blank">github</a>
  </div>
</div>
<div class="siimple-grid">

  <div class="siimple-grid-row">
    <div class="siimple-grid-col siimple-grid-col--6">
      <div class="siimple-table siimple-table--hover">
        <div class="siimple-table-header">
          <div class="siimple-table-row">
            <div class="siimple-table-cell">Team</div>
            {% for resource_name in resources.keys() %}
            <div class="siimple-table-cell">{{ resource_name }}</div>
            {% endfor %}
          </div>
        </div>
        <div class="siimple-table-body">
          {% for team in teams %}
            <div class="siimple-table-row">
              <div class="siimple-table-cell">{{ team }}</div>
              {% for data in resources.values() %}
              <div class="siimple-table-cell">{{ data[team] |round(3) if data[team] else '-' }}</div>
              {% endfor %}
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

</div>
</body>
</html>
